<!-- Art should display something - image, audio, words, video,
    and have its moment written above it
    and two users listed-->

<h1>Your arts</h1>

<table>
  <thead>
    <tr>
      <th>Moment</th>
      <th>Complete</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @arts.each do |art| %>
      <tr>
        <td><% if art.moment.present? %>
              <%= art.moment.sentence %>
            <% end %></td>
        <td><% if art.in_progress %>
              Not yet
              <% else %>
              Yes
              <% end %>
        </td>
        <td><%= link_to 'View this art', moment_art_path(art.moment, art) %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to "Home", root_path %>
