<!-- Should display today's date at the top-->
<!-- Need ability to add moment for a previous date, however-->

<h1>Today's date here</h1>

<%= simple_form_for @moment do |form| %>
  <%= form.input :sentence, label: 'Today I...' %>
  <%= form.button :submit %>
<%- end %>

<%= link_to 'Back', moments_path %>